<div id='hometable'>
    <!-- <table>
        <thead id='tableHeading'>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < users.length; i++) { %>
                <tr>
                    <td><%= users[i].id %></td>
                    <td><%= users[i].first_name %></td>
                    <td><%= users[i].surname %></td>
                    <td><%= users[i].email %></td>
                </tr>
            <% } %>
        </tbody>
    </table>-->
    <table> 
        <thead id='tableHeading'>
            <tr>
                <th>ID #</th>
                <th>Day</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            <% for (let i = 0; i < schedules.length; i++) { %>
                <% const dayOfWeek = [null, "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ] %>
                <tr>
                    <td><a href="employee/<%= schedules[i].user_id %>"><%= schedules[i].user_id %></a></td>
                    <td><%= dayOfWeek[schedules[i].day] %></td>
                    <td><%= schedules[i].start_at %></td>
                    <td><%= schedules[i].end_at %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>