<h2>New Schedule</h2>
<p>Enter all details to create a new schedule.</p>
<div>
    <form action='/newschedule' method='POST'>
        <div>
            <label for='day'>Day:</label>
            <select id="day" name="day">
                <option value="1">Monday</option>
                <option value="2">Tuesday</option>
                <option value="3">Wednesday</option>
                <option value="4">Thursday</option>
                <option value="5">Friday</option>
                <option value="6">Saturday</option>
                <option value="7">Sunday</option>
                </select>
        </div>
        <div>
            <label for='start_at'>Start At:</label>
            <input id='start_at' name='start_at' type='time'>
        </div>
        <div>
            <label for='end_at'>End At:</label>
            <input id='end_at' name='end_at' type='time'>
        </div>
        <div>
            <% if(message) { %>
                <p style='color: red'><%= message %></p>
            <% } %>
        </div>
        <button type='submit'>Submit Schedule</button>
    </form>
</div>
<div>
    <h2>Your current Schedules:</h2>
    <% if (Object.keys(schedules).length !== 0) { %>
        <table>
            <thead id='tableHeading'>
                <tr>
                    <th>Day</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < schedules.length; i++) { %>
                    <% const dayOfWeek = [null, "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" ] %>
                    <tr>
                        <td><%= dayOfWeek[schedules[i].day] %></td>
                        <td><%= schedules[i].start_at %></td>
                        <td><%= schedules[i].end_at %></td>
                        <td>
                            <form action="/newschedule/delete/<%=schedules[i].id%>" method='POST'>
                                <button class="delete-button" onclick="">DELETE</button>
                            </form>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    <% } else { %>
        <strong>Currently no schedules booked</strong>
    <% } %>
</div>